.btn-lg{
    width: 100%;
    color: white;
}

.pix{
    width:20px;
} 


@media (max-width: 768px) {

    input{
        font-size: 1rem;
    }
    
    button{
        font-size: 1rem;
    }

  }
  